In [1]:
import pandas as pd

In [2]:
ly=pd.read_csv(r'C:/数据练习/5数据的科学运算/data2.csv')
ly.head()

,Unnamed: 0,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,0,哈尔滨,北海,2208.0,650.0,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,春秋航空 9C8741,直飞,17:10-21:50,春秋航空 9C8742,直飞,10:20-15:05
1,1,成都,泸沽湖,1145.0,376.0,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票,7天酒店丽江古城中心店 经济型 4.0分/5分,经济房-不含早-限时特... 其他 不含早 1间2晚,成都航空 EU2237,直飞,19:45-21:20,成都航空 EU2738,直飞,23:30-01:05
2,2,广州,沈阳,2702.0,618.0,广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票,沈阳中煤宾馆 舒适型 4.5分/5分,大床间(内宾) 大床 双早 1间2晚,南方航空 CZ6384,直飞,08:05-11:45,深圳航空 ZH9652,经停,08:20-13:05
3,3,上海,九寨沟,1954.0,484.0,上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票,红原芸谊大酒店 舒适型 4.6分/5分,豪华双床房[双早] 双床 双早 1间2晚,成都航空 EU6678,直飞,21:55-01:15,成都航空 EU6677,直飞,17:45-20:35
4,4,广州,天津,1608.0,422.0,广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票,天津逸海明珠大酒店 高档型 4.1分/5分,豪华双床房(预付) 双床 不含早 1间2晚,奥凯航空 BK2787,直飞,06:55-10:00,海南航空 HU7201,直飞,20:15-23:25

In [3]:
ly['路线名'].str.split('-')

0              [哈尔滨, 北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票]
1             [成都, 泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票]
2              [广州, 沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票]
3                 [上海, 九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票]
4           [广州, 天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票]
                             ...
5095    [宁波, 九寨沟3天2晚 | 入住黑水县达古冰山国际大酒店 + 成都航空/四川航空往...]
5096              [成都, 泸沽湖3天2晚 | 入住丽江望月阁客栈 + 成都航空往返机票]
5097    [天津, 丽江3天2晚 | 入住丽江凡间度假连锁客栈青旅店 + 天津航空/首都航空往...]
5098        [大连, 重庆3天2晚 | 入住重庆酉阳锦宏大酒店 + 华夏航空/山东航空往返机票]
5099      [天津, 哈尔滨3天2晚 | 入住哈尔滨钰轩酒店中央大街店 + 奥凯航空/福州往返机票]
Name: 路线名, Length: 5100, dtype: object

In [5]:
ly['路线名']

0              哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票
1             成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票
2              广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票
3                 上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票
4           广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票
                           ...
5095    宁波-九寨沟3天2晚 | 入住黑水县达古冰山国际大酒店 + 成都航空/四川航空往...
5096              成都-泸沽湖3天2晚 | 入住丽江望月阁客栈 + 成都航空往返机票
5097    天津-丽江3天2晚 | 入住丽江凡间度假连锁客栈青旅店 + 天津航空/首都航空往...
5098        大连-重庆3天2晚 | 入住重庆酉阳锦宏大酒店 + 华夏航空/山东航空往返机票
5099      天津-哈尔滨3天2晚 | 入住哈尔滨钰轩酒店中央大街店 + 奥凯航空/福州往返机票
Name: 路线名, Length: 5100, dtype: object

In [6]:
ly['路线名'].str.slice(2,3)

0       滨
1       -
2       -
3       -
4       -
       ..
5095    -
5096    -
5097    -
5098    -
5099    -
Name: 路线名, Length: 5100, dtype: object

In [9]:
ly['路线名']

0              哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票
1             成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票
2              广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票
3                 上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票
4           广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票
                           ...
5095    宁波-九寨沟3天2晚 | 入住黑水县达古冰山国际大酒店 + 成都航空/四川航空往...
5096              成都-泸沽湖3天2晚 | 入住丽江望月阁客栈 + 成都航空往返机票
5097    天津-丽江3天2晚 | 入住丽江凡间度假连锁客栈青旅店 + 天津航空/首都航空往...
5098        大连-重庆3天2晚 | 入住重庆酉阳锦宏大酒店 + 华夏航空/山东航空往返机票
5099      天津-哈尔滨3天2晚 | 入住哈尔滨钰轩酒店中央大街店 + 奥凯航空/福州往返机票
Name: 路线名, Length: 5100, dtype: object

In [8]:
ly['路线名'].str.find('哈')

0       0
1      -1
2      -1
3      -1
4      -1
       ..
5095   -1
5096   -1
5097   -1
5098   -1
5099    3
Name: 路线名, Length: 5100, dtype: int64

In [11]:
ly['酒店']

0          北海祥丰嘉年华大酒店 舒适型 4.7分/5分
1         7天酒店丽江古城中心店 经济型 4.0分/5分
2              沈阳中煤宾馆 舒适型 4.5分/5分
3             红原芸谊大酒店 舒适型 4.6分/5分
4           天津逸海明珠大酒店 高档型 4.1分/5分
                  ...
5095     黑水县达古冰山国际大酒店 豪华型 3.9分/5分
5096          丽江望月阁客栈 经济型 4.6分/5分
5097    丽江凡间度假连锁客栈青旅店 经济型 4.5分/5分
5098        重庆酉阳锦宏大酒店 舒适型 4.0分/5分
5099     哈尔滨钰轩酒店中央大街店 舒适型 4.0分/5分
Name: 酒店, Length: 5100, dtype: object

In [14]:
ly['酒店'].str.extract('(\d\.\d分)')

         0
0     4.7分
1     4.0分
2     4.5分
3     4.6分
4     4.1分
...    ...
5095  3.9分
5096  4.6分
5097  4.5分
5098  4.0分
5099  4.0分

[5100 rows x 1 columns]

In [16]:
ly['酒店'].str.extract('( .+ )')

          0
0      舒适型
1      经济型
2      舒适型
3      舒适型
4      高档型
...     ...
5095   豪华型
5096   经济型
5097   经济型
5098   舒适型
5099   舒适型

[5100 rows x 1 columns]