In [ ]:

with TM1Service(address="localhost", port=30011, ssl=True, user="admin", password="apple") as tm1:

In [2]:
from TM1py.Services import TM1Service
from TM1py.Utils import Utils

with TM1Service(address="localhost", port=30011, ssl=True, user="admin", password="apple") as tm1:
    # define MDX Query
    mdx = '''SELECT 
          NON EMPTY 
           {[Month].[M01],[Month].[M02],[Month].[M03],[Month].[M04],[Month].[M05],[Month].[M06]} 
            PROPERTIES [Month].[Month].[Long Name]  ON COLUMNS , 
            NON EMPTY 
           {TM1DRILLDOWNMEMBER({[Account].[Account].[Net Income],[Account].[Account].[Operating Profit],[Account].[Account].[Gross Margin],[Account].[Account].[Operating Expenses],[Account].[Account].[Other Income and Expense],[Account].[Account].[Taxes]}, ALL, RECURSIVE )} 
            ON ROWS 
            FROM [General Ledger] 
            WHERE 
              (
               [Year].[Year].[FY11],
               [Version].[Version].[Budget],
               [Organisation].[Organisation].[Canadian Division],
               [Department].[Department].[Research and Development],
               [GL Measure].[GL Measure].[Amount]
              )'''

    # Get data from P&L cube through MDX
    pnl_data = tm1.cubes.cells.execute_mdx(mdx)

    # Build pandas DataFrame fram raw cellset data
    df = Utils.build_pandas_dataframe_from_cellset(pnl_data)

    print(df)

    # Calculate Statistical measures for dataframe
    print(df.describe())

                                                                                       Values
Version Year Month Organisation      Department               Account    GL Measure
Budget  FY11 M01   Canadian Division Research and Development Net Income Amount      128790.0
             M02   Canadian Division Research and Development Net Income Amount      463090.0
             M03   Canadian Division Research and Development Net Income Amount      314290.0
             M04   Canadian Division Research and Development Net Income Amount      293400.0
             M05   Canadian Division Research and Development Net Income Amount      490200.0
...                                                                                       ...
             M02   Canadian Division Research and Development Taxes      Amount           NaN
             M03   Canadian Division Research and Development Taxes      Amount       50000.0
             M04   Canadian Division Research and Development Taxes      Amount           NaN
             M05   Canadian Division Research and Development Taxes      Amount           NaN
             M06   Canadian Division Research and Development Taxes      Amount           NaN

[246 rows x 1 columns]
              Values
count     237.000000
mean    57704.852321
std    186824.809112
min   -322100.000000
25%     -1500.000000
50%      -280.000000
75%       -50.000000
max    869500.000000

In [3]:
df

                                                                                       Values
Version Year Month Organisation      Department               Account    GL Measure
Budget  FY11 M01   Canadian Division Research and Development Net Income Amount      128790.0
             M02   Canadian Division Research and Development Net Income Amount      463090.0
             M03   Canadian Division Research and Development Net Income Amount      314290.0
             M04   Canadian Division Research and Development Net Income Amount      293400.0
             M05   Canadian Division Research and Development Net Income Amount      490200.0
...                                                                                       ...
             M02   Canadian Division Research and Development Taxes      Amount           NaN
             M03   Canadian Division Research and Development Taxes      Amount       50000.0
             M04   Canadian Division Research and Development Taxes      Amount           NaN
             M05   Canadian Division Research and Development Taxes      Amount           NaN
             M06   Canadian Division Research and Development Taxes      Amount           NaN

[246 rows x 1 columns]