In [2]:
from pandleau import *

You are using the Extract API 2.0, please save the output as .hyper format

In [3]:
import configparser
from TM1py import TM1Service

In [4]:
config = configparser.ConfigParser()
config.read("C:\\TM1py\\tm1py-samples-master\\config.ini")


with TM1Service(**config["AdventureWorks"]) as tm1:  
    mdx = """
    SELECT
    NON EMPTY
    { Tm1FilterByLevel ( {Tm1SubsetAll([Year])} , 0 )} *
    { Tm1FilterByLevel ( {Tm1SubsetAll([CW Month])} , 0 ) } *
    { Tm1FilterByLevel ( {Tm1SubsetAll([CW Region])} , 0 ) } *
    { Tm1FilterByLevel ( {Tm1SubsetAll([CW Customer])} , 0 ) }*
    {Tm1SubsetAll([CW SKU])}
     ON ROWS,
    { [CW Measure].[Revenue], [CW Measure].[Quantity] } ON COLUMNS
    FROM [CW Water Sales]
    """
    df = tm1.power_bi.execute_mdx(mdx)

In [5]:
df

,Year,CW Month,CW Region,CW Customer,CW SKU,Revenue,Quantity
0,2012,Jan,New York,W Hotels,330mL,11572200.0,257160.0
1,2012,Jan,New York,W Hotels,0.5L 6PK,1740960.0,43524.0
2,2012,Jan,New York,W Hotels,0.5L LS,4996588.0,121868.0
3,2012,Jan,New York,W Hotels,1.0L 6PK,9498007.5,218345.0
4,2012,Jan,New York,W Hotels,1.0L LS,5811463.0,141743.0
...,...,...,...,...,...,...,...
18138,2012,Dec,Bahamas,Other Convenience Channel Customers,0.5L LS,90371.34886449785,2821.0
18139,2012,Dec,Bahamas,Other Convenience Channel Customers,All SKUs,869818.226217491,28774.0
18140,2012,Dec,Bahamas,Other Food Channel Customers,330mL,1263579.103412803,42073.0
18141,2012,Dec,Bahamas,Other Food Channel Customers,0.5L 6PK,1304750.3646388901,46547.0
18142,2012,Dec,Bahamas,Other Food Channel Customers,All SKUs,2568329.4680516934,88620.0

In [6]:
df_tableau = pandleau(df)

In [15]:
df_tableau.to_tableau('C:\\Users\\User\\Desktop\\test2.hyper','test2.hyper', add_index=False)

Table 'test2.hyper' does not exist in extract C:\Users\User\Desktop\test2.hyper, creating.

processing table: 18143it [00:00, 36068.76it/s]