In [34]:
import pandas as pd

Region=pd.read_csv(r'C:\Users\User\Desktop\Region_Tm1.csv')
Region_reindex=Region.set_index('Level00')
Region_reindex.loc['China','别名']

Level00
China    True
China    True
Name: 别名, dtype: bool

In [32]:
Region_reindex

        Level01 Level02  别名
Level00
China      Asia   World  中国
Japan      Asia   World  日本
Korean     Asia   World  韩国
China        UN   World  中国
UK         Euro   World  英国
German     Euro   World  德国
France     Euro   World  法国
UK           UN   World  英国

In [49]:
from TM1py.Objects import Cube
from TM1py.Objects import Dimension, Element, ElementAttribute, Hierarchy
from TM1py.Utils import Utils
from TM1py.Services import TM1Service

with TM1Service(address="localhost", port=30011, ssl=True, user="admin", password="apple") as tm1:
    # get dimension
    dimension = tm1.dimensions.get('Region_Tm1')

    # get the default hierarchy of the dimension
    h = dimension.hierarchies[0]
    h.add_element_attribute('中文','Alias')
    
    #for element in h:
        #if element.element_type!='Consolidated':
   
    
            #Region_reindex.loc[element.name,'别名']
            
    tm1.dimensions.update(dimension)

In [50]:
dimension

Dimension:{"Name": "Region_Tm1", "UniqueName": "[Region_Tm1]", "Attributes": {"Caption": "Region_Tm1"}, "Hierarchies": [{"Name": "Region_Tm1", "Elements": [{"Name": "China", "Type": "Numeric"}, {"Name": "Japan", "Type": "Numeric"}, {"Name": "Korean", "Type": "Numeric"}, {"Name": "German", "Type": "Numeric"}, {"Name": "France", "Type": "Numeric"}, {"Name": "Asia", "Type": "Consolidated"}, {"Name": "UN", "Type": "Consolidated"}, {"Name": "Euro", "Type": "Consolidated"}, {"Name": "World", "Type": "Consolidated"}, {"Name": "North America", "Type": "Consolidated"}, {"Name": "America", "Type": "Numeric"}, {"Name": "United Kindom", "Type": "Numeric"}], "Edges": [{"ParentName": "Asia", "ComponentName": "China", "Weight": 1}, {"ParentName": "Asia", "ComponentName": "Japan", "Weight": 1}, {"ParentName": "Asia", "ComponentName": "Korean", "Weight": 1}, {"ParentName": "UN", "ComponentName": "China", "Weight": 1}, {"ParentName": "UN", "ComponentName": "United Kindom", "Weight": 1}, {"ParentName": "Euro", "ComponentName": "German", "Weight": 1}, {"ParentName": "Euro", "ComponentName": "France", "Weight": 1}, {"ParentName": "Euro", "ComponentName": "United Kindom", "Weight": 1}, {"ParentName": "World", "ComponentName": "Asia", "Weight": 1}, {"ParentName": "World", "ComponentName": "UN", "Weight": 1}, {"ParentName": "World", "ComponentName": "Euro", "Weight": 1}, {"ParentName": "North America", "ComponentName": "America", "Weight": 1}]}]}