### 读取数据

In [1]:
import pandas as pd

In [2]:
zl_order_data=pd.read_csv(r"C:/TM1py/mba.csv")

In [3]:
zl_order_data['Region'].unique()

array(['us', 'uk', 'nl', 'pl', 'se', 'de', 'es', 'fr', 'it', 'ca', 'jp',
       'mx', 'tr', 'JP'], dtype=object)

In [4]:
pYear_start=2020
pMonth_start=1
pYear_end=2021
pMonth_end=12
pOU="2"
pBU="hangzhou"
pChannel="Amazon"
pRegion="uk"

In [5]:
zl_order_data=zl_order_data[(zl_order_data["yyyymm"].str.slice(0,4).astype("int")>=pYear_start)&(zl_order_data["yyyymm"].str.slice(5,7).astype("int")>=pMonth_start)
                            &(zl_order_data["yyyymm"].str.slice(0,4).astype("int")<=pYear_end)&(zl_order_data["yyyymm"].str.slice(5,7).astype("int")<=pMonth_end)
                            &(zl_order_data["OU"].astype("str")==pOU)
                            &(zl_order_data["BU"]==pBU)
                            &(zl_order_data["Channel"]==pChannel)
                            &(zl_order_data["Region"]==pRegion)].drop(["yyyymm","OU","BU","Channel","Region"],axis=1)

In [6]:
zl_order_data

                    order_id      lsku
89       026-9378713-0143540  LSKU1294
90       204-2711980-5433168  LSKU1294
91       204-4791342-1000324  LSKU1294
92       026-1068662-9591506  LSKU1294
93       205-5854795-4345917  LSKU1294
...                      ...       ...
3203775  026-0727855-3763517  LSKU1211
3203776  203-4535806-9509157  LSKU1211
3203777  204-6387476-8665949  LSKU1282
3203778  204-8059009-3165168  LSKU1287
3203779  204-0046460-3960314  LSKU1282

[517369 rows x 2 columns]

In [7]:
zl_order_data.reset_index(drop=True,inplace=True)

In [8]:
zl_order_multi_order=zl_order_data[zl_order_data.groupby("order_id")["order_id"].transform("count")>1]

In [9]:
zl_order_multi_order_drop=zl_order_multi_order.drop_duplicates()

In [10]:
zl_order_multi_order_drop.reset_index(drop=True,inplace=True)

In [11]:
zl_order_multi_order_drop

                  order_id      lsku
0      206-0149572-7982777  LSKU1179
1      205-4982057-1096335  LSKU1179
2      205-6384354-2638701  LSKU1179
3      203-7585877-5561955  LSKU1179
4      203-4718295-9325131  LSKU1328
...                    ...       ...
49117  026-8998404-6161919  LSKU1283
49118  206-2552778-1997134  LSKU1283
49119  206-2552778-1997134  LSKU1285
49120  204-6223022-9064311  LSKU1211
49121  202-0085519-2668328  LSKU1240

[49122 rows x 2 columns]

#### 转换为交叉表

In [12]:
modeldata=pd.crosstab(index=zl_order_multi_order_drop["order_id"],columns=zl_order_multi_order_drop["lsku"])
#新版本要转换1->True 0->False
def func(col):
    result=col.copy()
    result_bool=pd.Series(result==1)
    col=result_bool
    return col

In [13]:
modeldata_bool=modeldata.apply(func,axis=1)

In [14]:
modeldata_bool

lsku,LSKU1002,LSKU1009,LSKU1017,LSKU1022,LSKU1031,LSKU1032,LSKU1033,LSKU1034,LSKU1039,LSKU1040,...,LSKU1973,LSKU1974,LSKU1975,LSKU1976,LSKU1977,LSKU1980,LSKU1981,LSKU1985,LSKU1994,LSKU2006
order_id,,,,,,,,,,,,,,,,,,,,,
026-0009573-1385905,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
026-0015411-0857132,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
026-0021023-1789968,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
026-0026342-1867561,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
026-0027398-7681975,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S02-8868647-3261522,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
S02-8986792-3943908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
S02-9247319-5220700,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
S02-9289485-2597538,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
S02-9640831-4141563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### 生成频繁项集

In [13]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [14]:
fre_set=apriori(modeldata_bool,min_support=0.0001,use_colnames=True,low_memory=True)

#### 关联规则

In [15]:
rules=association_rules(fre_set,metric="confidence",min_threshold=0.8)

In [32]:
round(rules,3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(LSKU1285),(LSKU1283),0.001,0.001,0.001,0.885,616.300,0.001,8.654
1,"(LSKU1237, LSKU1968)",(LSKU1934),0.000,0.011,0.000,0.833,76.141,0.000,5.934
2,"(LSKU1849, LSKU1929)",(LSKU1248),0.000,0.060,0.000,1.000,16.800,0.000,inf
3,"(LSKU1899, LSKU1859)",(LSKU1571),0.000,0.100,0.000,1.000,9.970,0.000,inf
4,"(LSKU1498, LSKU1312, LSKU1149)",(LSKU1851),0.000,0.012,0.000,1.000,80.775,0.000,inf
5,"(LSKU1177, LSKU1571, LSKU1178)",(LSKU1878),0.000,0.045,0.000,1.000,22.384,0.000,inf
6,"(LSKU1878, LSKU1571, LSKU1178)",(LSKU1177),0.000,0.060,0.000,1.000,16.700,0.000,inf
7,"(LSKU1201, LSKU1202, LSKU1178)",(LSKU1200),0.000,0.006,0.000,1.000,168.894,0.000,inf
8,"(LSKU1833, LSKU1900, LSKU1178)",(LSKU1248),0.000,0.060,0.000,1.000,16.800,0.000,inf
9,"(LSKU1189, LSKU1198, LSKU1966)",(LSKU1898),0.000,0.043,0.000,1.000,23.271,0.000,inf
10,"(LSKU1189, LSKU1929, LSKU1900)",(LSKU1248),0.000,0.060,0.000,1.000,16.800,0.000,inf
11,"(LSKU1191, LSKU1190, LSKU1459)",(LSKU1832),0.000,0.049,0.000,1.000,20.529,0.000,inf
12,"(LSKU1191, LSKU1832, LSKU1459)",(LSKU1190),0.000,0.021,0.000,1.000,48.047,0.000,inf
13,"(LSKU1190, LSKU1832, LSKU1459)",(LSKU1191),0.000,0.017,0.000,1.000,58.823,0.000,inf
14,"(LSKU1201, LSKU1190, LSKU1202)",(LSKU1200),0.000,0.006,0.000,1.000,168.894,0.000,inf
15,"(LSKU1190, LSKU1202, LSKU1200)",(LSKU1201),0.000,0.006,0.000,1.000,158.113,0.000,inf
16,"(LSKU1191, LSKU1860, LSKU1459)",(LSKU1833),0.000,0.063,0.000,1.000,15.958,0.000,inf
17,"(LSKU1201, LSKU1832, LSKU1202)",(LSKU1200),0.000,0.006,0.000,0.800,135.115,0.000,4.970
18,"(LSKU1832, LSKU1200, LSKU1202)",(LSKU1201),0.000,0.006,0.000,0.800,126.491,0.000,4.968
19,"(LSKU1833, LSKU1201, LSKU1202)",(LSKU1200),0.000,0.006,0.000,1.000,168.894,0.000,inf
20,"(LSKU1833, LSKU1201, LSKU1200)",(LSKU1202),0.000,0.006,0.000,1.000,172.822,0.000,inf
21,"(LSKU1250, LSKU1571, LSKU1833)",(LSKU1860),0.000,0.049,0.000,1.000,20.547,0.000,inf
22,"(LSKU1395, LSKU1934, LSKU1412)",(LSKU1968),0.000,0.008,0.000,0.875,103.213,0.000,7.932
23,"(LSKU1395, LSKU1934, LSKU1969)",(LSKU1412),0.000,0.002,0.000,0.800,396.338,0.000,4.990
24,"(LSKU1395, LSKU1969, LSKU1412)",(LSKU1968),0.000,0.008,0.000,1.000,117.958,0.000,inf
25,"(LSKU1395, LSKU1934, LSKU1969)",(LSKU1968),0.000,0.008,0.000,0.800,94.366,0.000,4.958
26,"(LSKU1934, LSKU1969, LSKU1412)",(LSKU1968),0.000,0.008,0.000,0.833,98.298,0.000,5.949
27,"(LSKU1807, LSKU1460, LSKU1900)",(LSKU1929),0.000,0.031,0.000,1.000,32.310,0.000,inf
28,"(LSKU1900, LSKU1571, LSKU1929)",(LSKU1831),0.000,0.040,0.000,1.000,24.799,0.000,inf
29,"(LSKU1180, LSKU1833, LSKU1832, LSKU1178)",(LSKU1860),0.000,0.049,0.000,1.000,20.547,0.000,inf
30,"(LSKU1180, LSKU1860, LSKU1832, LSKU1178)",(LSKU1833),0.000,0.063,0.000,0.900,14.363,0.000,9.373
31,"(LSKU1395, LSKU1934, LSKU1969, LSKU1968)",(LSKU1412),0.000,0.002,0.000,1.000,495.422,0.000,inf
32,"(LSKU1395, LSKU1934, LSKU1969, LSKU1412)",(LSKU1968),0.000,0.008,0.000,1.000,117.958,0.000,inf
33,"(LSKU1412, LSKU1934, LSKU1969, LSKU1968)",(LSKU1395),0.000,0.002,0.000,0.800,414.772,0.000,4.990
34,"(LSKU1395, LSKU1934, LSKU1969)","(LSKU1412, LSKU1968)",0.000,0.001,0.000,0.800,990.844,0.000,4.996

### 写入TM1

In [18]:
rules_tm1=rules.copy()

In [19]:
rules_tm1.reset_index(inplace=True)
rules_tm1.rename(columns={"index":"Line Item"},inplace=True)
rules_tm1["Line Item"]=rules_tm1["Line Item"].apply(lambda x:"{:0>4d}".format(x)).astype('str')

In [20]:
rules_tm1_melt=pd.melt(rules_tm1,id_vars=["Line Item"],var_name=["M ZL Sales Market Basket Analysis"],value_name="Value")

In [21]:
rules_tm1_melt["Scenario"]="ACT"
rules_tm1_melt["SA Year"]="Unspecified Year"
rules_tm1_melt["SA Month"]="Unspecified Month"
rules_tm1_melt["Version"]="WIP"
rules_tm1_melt["COA Company"]="{:0>3d}".format(int(pOU))
rules_tm1_melt["Business Unit"]=pBU
rules_tm1_melt["Region"]=pRegion
rules_tm1_melt["Channel"]=pChannel
rules_tm1_melt["Data Source ZL Sales Market Basket Analysis"]=str(pYear_start)+str("{:0>2d}".format(pMonth_start))+"_"+str(pYear_end)+str("{:0>2d}".format(pMonth_end))

In [22]:
columns=["Scenario","SA Year","SA Month","Version","COA Company","Business Unit","Region","Channel","Line Item","Data Source ZL Sales Market Basket Analysis","M ZL Sales Market Basket Analysis","Value"]
rules_tm1_melt_ready=rules_tm1_melt.reindex(columns=columns)

#### 更新维度

In [1]:
from TM1py.Services import TM1Service
from TM1py.Objects import Element
tm1 = TM1Service(address="192.168.0.176", port=30015, ssl=False, user="neil", password="123")

In [100]:
# 获取维度实例
dimension = tm1.dimensions.get("Data Source ZL Sales Market Basket Analysis")
# 获取层级实例
hier = dimension.hierarchies[0]
parent = "All Datasources"
child = str(pYear_start)+str("{:0>2d}".format(pMonth_start))+"_"+str(pYear_end)+str("{:0>2d}".format(pMonth_end))
#判断元素是否存在
if isinstance(hier.elements.get(child),Element)==False:   
    # 增加元素
    hier.add_element(child, "Numeric")
    # 增加edge元组字典里的层级信息
    hier.add_edge(parent, child, 1)
    # 更新维度
    tm1.dimensions.update(dimension)

#### 写入

In [25]:
    #clear
    cube_tgr="ZL Sales Market Basket Analysis"
    cOU="{:0>3d}".format(int(pOU))
    cDataSource=str(pYear_start)+str("{:0>2d}".format(pMonth_start))+"_"+str(pYear_end)+str("{:0>2d}".format(pMonth_end))
    mdx_tgr='''
            SELECT 
           {[M ZL Sales Market Basket Analysis].[M ZL Sales Market Basket Analysis].Members} 
          ON COLUMNS , 
           {[Line Item].[Line Item].Members}
          ON ROWS 
        FROM [ZL Sales Market Basket Analysis] 
        WHERE 
          (
           [Scenario].[Scenario].[ACT],
           [SA Year].[SA Year].[Unspecified Year],
           [SA Month].[SA Month].[Unspecified Month],
           [Version].[Version].[WIP],
           [COA Company].[COA Company].['''+cOU+'''],
           [Business Unit].[Business Unit].['''+pBU+'''],
           [Region].[Region].['''+pRegion+'''],
           [Data Source ZL Sales Market Basket Analysis].[Data Source ZL Sales Market Basket Analysis].['''+cDataSource+'''],
           [Channel].[Channel].['''+pChannel+''']
          )
             '''
    tm1.cells.clear_with_mdx(cube_tgr,mdx_tgr)

In [26]:
#Writing to tgr Cube
tm1.cells.write_dataframe(
        cube_name=cube_tgr,
        data=rules_tm1_melt_ready,
        dimensions=["Scenario","SA Year","SA Month","Version","COA Company","Business Unit","Region","Channel","Line Item","Data Source ZL Sales Market Basket Analysis","M ZL Sales Market Basket Analysis"],
        increment=False,
        deactivate_transaction_log=True,
        reactivate_transaction_log=True,
        sandbox_name=None,
        use_ti=True,
        skip_non_updateable=False,
        use_changeset=False)
tm1.cells.write_dataframe(

In [ ]:
rules.to_csv(r"C:/TM1py/关联规则.csv",encoding="utf-8")

In [136]:
rules_tm1_melt_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 12 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Scenario                                     378 non-null    object
 1   SA Year                                      378 non-null    object
 2   SA Month                                     378 non-null    object
 3   Version                                      378 non-null    object
 4   COA Company                                  378 non-null    object
 5   Business Unit                                378 non-null    object
 6   Region                                       378 non-null    object
 7   Channel                                      378 non-null    object
 8   Line Item                                    378 non-null    object
 9   Data Source ZL Sales Market Basket Analysis  378 non-null    object
 10  M ZL Sales Market Basket Analysis            378 non-null    object
 11  Value                                        378 non-null    object
dtypes: object(12)
memory usage: 35.6+ KB

In [2]:
from TM1py.Services import TM1Service
from TM1py.Objects import Element